
<div class="container mt-5">
  <h2>Task-Manager</h2>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col">
        <div class="btn-group btn-group-toggle float-left" data-toggle="buttons">
          <label class="btn btn-outline-secondary active">
            <input [routerLink]="['/']" [queryParams]="{priority: 'normal'}" type="radio" name="options" id="option1" autocomplete="off" > Normal
          </label>
          <label class="btn btn-outline-secondary">
            <input [routerLink]="['/']" [queryParams]="{priority: 'high'}" type="radio" name="options" id="option2" autocomplete="off"> High
          </label>
          <label class="btn btn-outline-secondary">
            <input [routerLink]="['/']" [queryParams]="{priority: 'urgent'}" type="radio" name="options" id="option3" autocomplete="off"> Urgent
          </label>
          <label class="btn btn-outline-secondary">
            <input [routerLink]="['/']" type="radio" name="options" id="option4" autocomplete="off" checked> All
          </label>
        </div>

      </div>
      <div class="col">
        <a class="float-right" [routerLink]="['/task/add']">
          <button type="button" class="btn btn-primary">Add</button>
        </a>
      </div>
    </div>
  </div>

  <table class="table table-dark table-responsive-md table-striped table-bordered table-sm mt-3">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Created date</th>
      <th>Deadline date</th>
      <th>Completed date</th>
      <th>Action</th>
      <th>Completed</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks" [ngClass]="{'bg-warning' : isPastDue(task.deadlineDate)}">
      <td>{{task.id}}</td>
      <td>{{task.title}}</td>
      <td>{{task.description}}</td>
      <td>{{task.priority}}</td>
      <td>{{task.created}}</td>
      <td>{{task.deadlineDate}}</td>
      <td>{{task.completedDate}}</td>
      <td>
        <button type="button" class="btn btn-outline-danger mr-2" (click)="deleteTask(task.id)">Delete</button>
        <a [routerLink]="['/task/edit/', task.id]">
          <button type="button" class="btn btn-outline-primary">Edit</button>
        </a>
      </td>
      <td style="text-align:center; vertical-align:middle;">
        <input  type="checkbox" (click)="completeTask(task.id)" [checked]="task.completed">
      </td>
    </tr>
    </tbody>
  </table>
</div>
